* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  margin: 50px 40%;
  border: 2px solid black;
  width: 200px;
}
.input {
  text-align: center;
  padding: 10px 0;
}
.button {
  display: grid;
  padding: 5px 10px;
}
.button-operation {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.error {
  padding-top: 50px;
  text-align: center;
}
